@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");
/* BASE */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #171717;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}

body {
  background: radial-gradient(circle at top right, #171717, #181818, #1a1a1a, #1b1b1b, #1d1d1d);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  /*========== SHAPE ==========*/
  /*========== TODO COUNTER ==========*/
}

body h1 {
  text-align: center;
  margin: 50px 0;
}

body .shape {
  position: fixed;
  -webkit-filter: drop-shadow(0 0 8px #ffffff);
          filter: drop-shadow(0 0 8px #ffffff);
}

body .shape.shape-bottom-right {
  bottom: 0;
  right: 0;
}

body .shape.shape-top-left {
  top: 0;
  left: 0;
}

body #todo-counter {
  position: fixed;
  top: 40px;
  left: 20px;
  width: 400px;
  font-weight: bold;
  font-size: 6rem;
  -webkit-transform: rotateZ(-6.2deg);
          transform: rotateZ(-6.2deg);
  text-align: center;
  opacity: 0.25;
}

/* LAYOUT */
.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 600px;
  width: 500px;
  padding: 50px;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
}

.form-container .form-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 25px 0;
}

.form-container .form-subcontainer label {
  margin: 5px 10px;
  font-weight: 600;
  font-size: 1rem;
}

.form-container .form-subcontainer input {
  background: none;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 400px;
  color: white;
  outline: none;
  padding: 0 20px;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.form-container .form-submit-container button,
.form-container .form-submit-container a {
  background: #343434;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 200px;
  color: white;
  margin: 15px 0;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-container .form-submit-container button:hover,
.form-container .form-submit-container a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form-container .form-submit-container a {
  text-decoration: none;
  padding: 10px 25px;
}

.profile-container {
  position: fixed;
  top: 32px;
  right: 64px;
}

.profile-container .profile-picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.profile-container .profile-picture:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profile-container .profile-settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container .profile-settings-container img {
  height: 32px;
  width: 32px;
  margin-top: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.profile-container .profile-settings-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings-container .profile-picture {
  height: 256px;
  width: 256px;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  margin: 32px auto;
}

.settings-container .settings-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings-container .settings-subcontainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0;
}

.settings-container .settings-subcontainer form label {
  font-weight: bold;
  font-size: 1.5rem;
}

.settings-container .settings-subcontainer form .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.settings-container .settings-subcontainer form .inputfile + label {
  font-size: 1.1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 16px;
  border: 2px solid currentColor;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 25px 0;
}

.settings-container .settings-subcontainer form .inputfile + label:focus + label,
.settings-container .settings-subcontainer form .inputfile + label.has-focus + label, .settings-container .settings-subcontainer form .inputfile + label:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.settings-container .settings-subcontainer form .inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.settings-container .settings-subcontainer form button {
  background: white;
  color: #171717;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  padding: 10px 25px;
}

.settings-container .settings-subcontainer form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-container .todo-form-container {
  margin: 25px 0;
}

.todo-container .todo-form-container .todo-form-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-container .todo-form-container .todo-form-subcontainer input {
  border: 3px #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 400px;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 20px;
}

.todo-container .todo-form-container .todo-form-subcontainer button {
  background: white;
  color: #171717;
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: none;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  margin-left: 25px;
}

.todo-container .todo-form-container .todo-form-subcontainer button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.todo-container .filter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 50px;
  margin: 10px;
}

.todo-container .filter-nav li {
  list-style: none;
  margin: 0 10px;
}

.todo-container .filter-nav li button {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 5px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.todo-container .filter-nav li button:hover, .todo-container .filter-nav li button.active {
  background: white;
  color: #171717;
}

.todo-container .todo-list-container .todo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 700px;
  color: white;
  outline: none;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  margin: 50px 20px;
}

.todo-container .todo-list-container .todo.todo-checked {
  opacity: 0.5;
}

.todo-container .todo-list-container .todo span {
  position: absolute;
  top: -25px;
  left: 20px;
  font-size: 0.8rem;
  opacity: 0.5;
}

.todo-container .todo-list-container .todo .todo-title {
  width: 500px;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 600;
}

.todo-container .todo-list-container .todo .todo-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100%;
  border-width: 3px;
  border-right: white solid;
  border-left: white solid;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
}

.todo-container .todo-list-container .todo .todo-status button {
  background: none;
  outline: none;
  position: relative;
  border-radius: 8px;
  border-width: 3px;
  border: #ffffff solid;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  height: 28px;
  width: 28px;
  cursor: pointer;
  /*transition: 0.3s ease;*/
  /*&:hover {
                        transform: scale(1.1);
                    }*/
}

.todo-container .todo-list-container .todo .todo-status button img {
  position: absolute;
  width: 32px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.todo-container .todo-list-container .todo .todo-status button img.hidden {
  display: none;
}

.todo-container .todo-list-container .todo .todo-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
}

.todo-container .todo-list-container .todo .todo-delete button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.todo-container .todo-list-container .todo .todo-delete button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */