@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*&::-webkit-scrollbar {
        width: 5px;
        background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
    }*/
}

body {
  background-color: #171717;
  color: white;
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*========== LOGIN ==========*/
  /*========== SETTINGS ==========*/
  /*========== PROFILE DROPDOWN MENU ==========*/
  /*========== SHAPE ==========*/
  /*========== TODO ==========*/
}

body h1 {
  text-align: center;
  margin: 50px 0;
}

body .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 600px;
  width: 500px;
  padding: 50px;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
}

body .form-container .form-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 25px 0;
}

body .form-container .form-subcontainer label {
  margin: 5px 10px;
  font-weight: 600;
  font-size: 1rem;
}

body .form-container .form-subcontainer input {
  background: none;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 400px;
  color: white;
  outline: none;
  padding: 0 20px;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

body .form-container .form-submit-container button,
body .form-container .form-submit-container a {
  background: #343434;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 200px;
  color: white;
  margin: 15px 0;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .form-container .form-submit-container button:hover,
body .form-container .form-submit-container a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body .form-container .form-submit-container a {
  text-decoration: none;
  padding: 10px 25px;
}

body .settings-container .profile-picture {
  height: 256px;
  width: 256px;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  margin: 32px;
}

body .settings-container .settings-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .profile-container {
  position: fixed;
  top: 32px;
  right: 64px;
}

body .profile-container .profile-picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .profile-container .profile-picture:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .profile-container .profile-settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .profile-container .profile-settings-container img {
  height: 32px;
  width: 32px;
  margin-top: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .profile-container .profile-settings-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .shape {
  position: fixed;
  -webkit-filter: drop-shadow(0 0 8px #ffffff);
          filter: drop-shadow(0 0 8px #ffffff);
}

body .shape.shape-bottom-right {
  bottom: 0;
  right: 0;
}

body .shape.shape-top-left {
  top: 0;
  left: 0;
}

body .todo-container .todo-form-container {
  margin: 25px 0;
}

body .todo-container .todo-form-container .todo-form-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .todo-container .todo-form-container .todo-form-subcontainer input {
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 400px;
  outline: none;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 20px;
}

body .todo-container .todo-form-container .todo-form-subcontainer button {
  background: white;
  color: #171717;
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: none;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  margin-left: 25px;
}

body .todo-container .todo-form-container .todo-form-subcontainer button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .todo-container .todo-list-container .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border-width: 3px;
  border: #ffffff solid;
  border-radius: 16px;
  height: 50px;
  width: 700px;
  color: white;
  outline: none;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  margin: 30px 20px;
}

body .todo-container .todo-list-container .todo.todo-checked {
  opacity: 0.5;
}

body .todo-container .todo-list-container .todo .todo-title {
  width: 500px;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 600;
}

body .todo-container .todo-list-container .todo .todo-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100%;
  border-width: 3px;
  border-right: white solid;
  border-left: white solid;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
}

body .todo-container .todo-list-container .todo .todo-status button {
  background: none;
  outline: none;
  position: relative;
  border-radius: 8px;
  border-width: 3px;
  border: #ffffff solid;
  -webkit-box-shadow: 0 0 8px #ffffff;
          box-shadow: 0 0 8px #ffffff;
  height: 28px;
  width: 28px;
  cursor: pointer;
  /*transition: 0.3s ease;*/
  /*&:hover {
                            transform: scale(1.1);
                        }*/
}

body .todo-container .todo-list-container .todo .todo-status button img {
  position: absolute;
  width: 32px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .todo-container .todo-list-container .todo .todo-status button img.hidden {
  display: none;
}

body .todo-container .todo-list-container .todo .todo-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
}

body .todo-container .todo-list-container .todo .todo-delete button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .todo-container .todo-list-container .todo .todo-delete button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */