@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");

$background-color: #171717;
$text-color: white;
$primary-font: "Montserrat";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*&::-webkit-scrollbar {
        width: 5px;
        background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
    }*/
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1 {
        text-align: center;
        margin: 50px 0;
    }

    /*========== LOGIN ==========*/
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-width: 3px;
        border: #ffffff solid;
        border-radius: 16px;
        height: 500px;
        width: 500px;
        padding: 50px;
        box-shadow: 0 0 8px #ffffff;

        .form-subcontainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 25px 0;

            label {
                margin: 5px 10px;
                font-weight: 600;
                font-size: 1rem;
            }

            input {
                background: none;
                border-width: 3px;
                border: #ffffff solid;
                border-radius: 16px;
                height: 50px;
                width: 400px;
                color: $text-color;
                outline: none;
                padding: 0 20px;
                box-shadow: 0 0 8px #ffffff;
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .form-submit-container {
            input {
                background: #343434;
                border-width: 3px;
                border: #ffffff solid;
                border-radius: 16px;
                height: 50px;
                width: 200px;
                color: $text-color;
                margin: 50px 0;
                box-shadow: 0 0 8px #ffffff;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }

    /*========== TODO ==========*/
    .todo-container {
        .todo-form-container {
            margin: 25px 0;

            .todo-form-subcontainer {
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    border-width: 3px;
                    border: #ffffff solid;
                    border-radius: 16px;
                    height: 50px;
                    width: 400px;
                    outline: none;
                    box-shadow: 0 0 8px #ffffff;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0 20px;
                }

                button {
                    background: $text-color;
                    color: $background-color;
                    font-size: 1rem;
                    font-weight: 600;
                    height: 50px;
                    width: 100px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    transition: 0.3s ease;
                    cursor: pointer;
                    margin-left: 25px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .todo-list-container {
            .todo {
                display: flex;
                align-items: center;
                background: none;
                border-width: 3px;
                border: #ffffff solid;
                border-radius: 16px;
                height: 50px;
                width: 700px;
                color: $text-color;
                outline: none;
                box-shadow: 0 0 8px #ffffff;
                margin: 30px 20px;

                .todo-title {
                    width: 500px;
                    padding: 0 20px;
                    font-size: 1rem;
                    font-weight: 600;
                }

                .todo-status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100%;
                    border-width: 3px;
                    border-right: white solid;
                    border-left: white solid;
                    box-shadow: 0 0 8px #ffffff;

                    i {
                        position: relative;
                        border-radius: 8px;
                        border-width: 3px;
                        border: #ffffff solid;
                        height: 28px;
                        width: 28px;

                        img {
                            position: absolute;
                            width: 32px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .todo-delete {
                    display: flex;
                    justify-content: center;
                    width: 100px;
                }
            }
        }
    }
}
