@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");

$background-color: #171717;
$text-color: white;
$primary-font: "Montserrat";

* {
    box-sizing: border-box;
    font-family: $primary-font;

    /*&::-webkit-scrollbar {
        width: 5px;
        background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
    }*/
}

body {
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

    h1 {
        text-align: center;
        margin: 50px 0;
    }

    /*========== LOGIN ==========*/
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-width: 3px;
        border: #ffffff solid;
        border-radius: 16px;
        height: 600px;
        width: 500px;
        padding: 50px;
        box-shadow: 0 0 8px #ffffff;

        .form-subcontainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 25px 0;

            label {
                margin: 5px 10px;
                font-weight: 600;
                font-size: 1rem;
            }

            input {
                background: none;
                border-width: 3px;
                border: #ffffff solid;
                border-radius: 16px;
                height: 50px;
                width: 400px;
                color: $text-color;
                outline: none;
                padding: 0 20px;
                box-shadow: 0 0 8px #ffffff;
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .form-submit-container {
            button,
            a {
                background: #343434;
                border-width: 3px;
                border: #ffffff solid;
                border-radius: 16px;
                height: 50px;
                width: 200px;
                color: $text-color;
                margin: 15px 0;
                box-shadow: 0 0 8px #ffffff;
                font-size: 1rem;
                font-weight: 600;
                outline: none;
                cursor: pointer;
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }

            a {
                text-decoration: none;
                padding: 10px 25px;
            }
        }
    }

    /*========== SETTINGS ==========*/
    .settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-picture {
            height: 256px;
            width: 256px;
            border-radius: 50%;
            border: 3px solid white;
            box-shadow: 0 0 8px #ffffff;
            margin: 32px auto;
        }

        .settings-subcontainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 32px 0;

                label {
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                .inputfile {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }

                .inputfile + label {
                    font-size: 1.1rem;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    display: inline-block;
                    padding: 10px 20px;
                    color: white;
                    border-radius: 16px;
                    border: 2px solid currentColor;
                    box-shadow: 0 0 8px #ffffff;
                    transition: 0.3s ease;
                    margin: 25px 0;

                    &:focus + label,
                    &.has-focus + label,
                    &:hover {
                        transform: scale(1.05);
                    }

                    svg {
                        width: 1em;
                        height: 1em;
                        vertical-align: middle;
                        fill: currentColor;
                        margin-top: -0.25em;
                        margin-right: 0.25em;
                    }
                }

                button {
                    background: $text-color;
                    color: $background-color;
                    font-size: 1rem;
                    font-weight: 600;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    transition: 0.3s ease;
                    cursor: pointer;
                    padding: 10px 25px;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    /*========== PROFILE DROPDOWN MENU ==========*/
    .profile-container {
        position: fixed;
        top: 32px;
        right: 64px;

        .profile-picture {
            height: 64px;
            width: 64px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            box-shadow: 0 0 8px #ffffff;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        .profile-settings-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                height: 32px;
                width: 32px;
                margin-top: 24px;
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    /*========== SHAPE ==========*/
    .shape {
        position: fixed;
        filter: drop-shadow(0 0 8px #ffffff);

        &.shape-bottom-right {
            bottom: 0;
            right: 0;
        }

        &.shape-top-left {
            top: 0;
            left: 0;
        }
    }

    /*========== TODO ==========*/
    .todo-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .todo-form-container {
            margin: 25px 0;

            .todo-form-subcontainer {
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    border: 3px#ffffff solid;
                    border-radius: 16px;
                    height: 50px;
                    width: 400px;
                    outline: none;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0 20px;
                }

                button {
                    background: $text-color;
                    color: $background-color;
                    font-size: 1rem;
                    font-weight: 600;
                    height: 50px;
                    width: 100px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    transition: 0.3s ease;
                    cursor: pointer;
                    margin-left: 25px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        
        .filter-nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 50px;
            margin: 25px;
            li {
                list-style: none;
                button {
                    background: none;
                    border: none;
                    outline: none;
                    color: $text-color;
                    padding: 5px 25px;
                    font-size: 1rem;
                    font-weight: bold;
                    border-radius: 8px;
                    transition: 0.3s ease;
                    cursor: pointer;

                    &:hover, &.active {
                        background: white;
                        color: $background-color;
                    }
                }
            }
        }

        .todo-list-container {
            .todo {
                position: relative;
                display: flex;
                align-items: center;
                background: none;
                border-width: 3px;
                border: #ffffff solid;
                border-radius: 16px;
                height: 50px;
                width: 700px;
                color: $text-color;
                outline: none;
                box-shadow: 0 0 8px #ffffff;
                margin: 50px 20px;

                &.todo-checked {
                    opacity: 0.5;
                }

                span {
                    position: absolute;
                    top: -25px;
                    left: 20px;
                    font-size: 0.8rem;
                    opacity: 0.5;
                }

                .todo-title {
                    width: 500px;
                    padding: 0 20px;
                    font-size: 1rem;
                    font-weight: 600;
                }

                .todo-status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100%;
                    border-width: 3px;
                    border-right: white solid;
                    border-left: white solid;
                    box-shadow: 0 0 8px #ffffff;

                    button {
                        background: none;
                        outline: none;
                        position: relative;
                        border-radius: 8px;
                        border-width: 3px;
                        border: #ffffff solid;
                        box-shadow: 0 0 8px #ffffff;
                        height: 28px;
                        width: 28px;
                        cursor: pointer;
                        /*transition: 0.3s ease;*/

                        /*&:hover {
                            transform: scale(1.1);
                        }*/

                        img {
                            position: absolute;
                            width: 32px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            &.hidden {
                                display: none;
                            }
                        }
                    }
                }

                .todo-delete {
                    display: flex;
                    justify-content: center;
                    width: 100px;

                    button {
                        background: none;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
